
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sitios de bogota</h5>
        <p class="card-text">Estos son los citios mas visitados en bogota</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">mapa de la ciudad</h5>
        <p class="card-text">mapa de la ciudad</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">noticias de ultimas horas</h5>
        <p class="card-text">Ultimas noticias en mobilidad</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">obras mas recientes</h5>
        <p class="card-text">estas con las obras mas actuales de la ciudad de bogota</p>
      </div>
    </div>
  </div>
      <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">otro tipo de noticias</h5>
        <p class="card-text">noticias mas relevantes </p>
      </div>
    </div>
      <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">transporte</h5>
        <p class="card-text">transporte de la ciudad</p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Bogota</h5>
    <p class="card-text">Reseña historica de bogota</p>
    <p class="card-text"><small class="text-body-secondary">Ultimos acontecimientos</small></p>
  </div>
  <img src="..." class="card-img-bottom" alt="...">
</div>