<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="color: #7781de";>
  <div class="container-fluid">
    <a style="color: #7781de;" class="navbar-brand" href="/">
        <b>PORTAL TRANS</b>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex" role="Buscar" style="width: 500px;">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="margin-left: auto;">
        <li class="nav-item">
          <a class="nav-link" href="/">INICIO</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Registros
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Iniciar Seccion</a></li>
            <li><a class="dropdown-item" href="/add">Registrarce</a></li>
            <li><a class="dropdown-item" href="/list">Listar</a></li>
          </ul>
        </li>
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Transpote
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Donde se dirigue</a></li>
            <li><a class="dropdown-item" href="#">Buses</a></li>
            <li><a class="dropdown-item" href="#">Ubicacion de los paraderos</a></li>
            <li><a class="dropdown-item" href="#">¿Nesesita guia?</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Estado de las calles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trancones y accidentes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>